## Importing packages and attributes

In [1]:
import pandas as pd
import re
from geopy.distance import great_circle

## Data Processing

In this notebook we will process the raw data scraped in our *`TripAdvisor_scraper.ipynb`* We start by loading the CSV file, we created.

In [2]:
trip_df = pd.read_csv("Tripadvisordata_raw.csv")
trip_df.tail() # prints just to check if the read went well

,God pris,Mad,Restaurant,Service,Stemning,Location,Number of reviews,Price class,Main rating,Ranking on list,Price range,Type of food,Address
95,45,50,Alchemist,50,NaN,"55.693714,12.613528",68,--$$$$---,"5,0",108,2.501,"<div class=""header_links""><a href=""/Restaurant...","Refshalevej 173C, København 1432 Danmark"
96,45,45,District Tonkin - Bánh Mí,40,NaN,"55.683544,12.587593",212,--$---------,"4,5",113,121.000,"<div class=""header_links""><a href=""/Restaurant...","Dronningens Tvaergade 12, København 1302 Danmark"
97,40,45,Restaurant Kanalen,40,45.0,"55.67551,12.593101",416,--$$$$---,"4,0",122,NaN,"<div class=""header_links""><a href=""/Restaurant...","Wilders Plads 2, København 1403 Danmark"
98,45,45,Sidecar,45,NaN,"55.687107,12.549084",132,--$$-$$$------,"4,5",107,295.000,"<div class=""header_links""><a href=""/Restaurant...","Skyttegade 5, København 2200 Danmark"
99,45,45,56°,45,50.0,"55.684166,12.610067",208,--$$$$------,"4,5",120,248.000,"<div class=""header_links""><a href=""/Restaurant...","Krudtløbsvej 8, København 1439 Danmark"

### Restructuring data

In [3]:
distance_list = []
Kgs_Nytorv = '55.679977,12.5841893' #longitude and latitude for Kongens Nytorv

#calculating distance from nytorv to the coordinates in the list
def distance(x):
    Start = trip_df["Location"][x]
    Stop = Kgs_Nytorv
    distance_list.append(great_circle(Start, Stop).meters)
    
for x in trip_df.index:
    distance(x)
    
#appending to df 
trip_df["Distance from Kgs. Nytorv (m)"] = distance_list

In [4]:
trip_df = trip_df.replace(regex=['&amp;'], value='&')
trip_df['Main rating'] = trip_df['Main rating'].replace(regex=[','], value='.')
trip_df['Distance from Kgs. Nytorv (m)'] = trip_df['Distance from Kgs. Nytorv (m)'].round()
trip_df['Good price'] = trip_df['God pris'] / 10
trip_df['Food'] = trip_df['Mad'] / 10
trip_df['Service'] = trip_df['Service'] / 10
trip_df['Atmosphere'] = trip_df['Stemning'] / 10
trip_df = trip_df[['Restaurant', 'Main rating', 'Ranking on list', 'Price range', 'Price class', 'Location', 'Distance from Kgs. Nytorv (m)' , 'Good price', 'Food', 'Service', 'Atmosphere', 'Type of food', 'Number of reviews', 'Address']]

In [5]:
trip_df.head()

,Restaurant,Main rating,Ranking on list,Price range,Price class,Location,Distance from Kgs. Nytorv (m),Good price,Food,Service,Atmosphere,Type of food,Number of reviews,Address
0,Restaurant Grønnegade,4.5,28,664.0,--$$$$---,"55.681705,12.583386",199.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",525,"Grønnegade 39, København 1107 Danmark"
1,Basso København,4.5,18,496.0,--$$-$$$---------,"55.68388,12.58657",459.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",345,"Dronningens Tvaergade 22, København 1302 Danmark"
2,Enomania,4.5,1,NaN,--$$-$$$------,"55.670773,12.531963",3431.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",245,"Vesterbrogade 187, Frederiksberg, København 18..."
3,Restaurant Krebsegaarden,5.0,2,396.0,--$$$$---,"55.67872,12.569877",908.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",1311,"Studiestraede 17, København 1455 Danmark"
4,The Pescatarian,5.0,6,597.0,--$$$$------,"55.68799,12.596316",1171.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",201,Amaliegade 49 On the corner of Amaliegade & Es...

In [6]:
trip_df = trip_df.sort_values(by='Ranking on list', ascending=True)

trip_df.to_csv("Tripadvisordata_200.csv", index=False)

In [17]:
trip_df.head(30)

,Restaurant,Main rating,Ranking on list,Price range,Price class,Location,Distance from Kgs. Nytorv (m),Good price,Food,Service,Atmosphere,Type of food,Number of reviews,Address,Postal code
22,Grams Lækkerier,5.0,1,101.000,--$---------,"55.671036,12.562724",1673.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",721,"Halmtorvet 1, København 1700 Danmark","1,1700"
2,Enomania,4.5,1,NaN,--$$-$$$------,"55.670773,12.531963",3431.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",245,"Vesterbrogade 187, Frederiksberg, København 18...","187,,1800"
3,Restaurant Krebsegaarden,5.0,2,396.000,--$$$$---,"55.67872,12.569877",908.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",1311,"Studiestraede 17, København 1455 Danmark","17,1455"
6,Mielcke & Hurtigkarl,4.5,2,2.615,--$$$$---,"55.67468,12.530938",3390.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",253,"Fr.Berg Runddel 1, Frederiksberg, København 20...","1,,2000"
20,Frederiks Have,4.5,3,536.000,--$$$$---,"55.679256,12.524991",3712.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",529,"Smallegade 41, Frederiksberg, København 2000 D...","41,,2000"
14,The Olive Kitchen & Bar,5.0,3,174.000,--$$-$$$---------,"55.68125,12.571284",821.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",2141,"Nørregade 22, København 1165 Danmark","22,1165"
17,Søllerød Kro,5.0,4,1.797,--$$$$------,"55.813576,12.495031",15869.0,4.5,5.0,5.0,5.0,"<div class=""header_links""><a href=""/Restaurant...",337,"Soelleroedvej 35 DK-2840 Holte, København 2840...","352840,2840"
29,Zahida at Kellerdirk,5.0,5,248.000,--$$-$$$---------,"55.67162,12.546196",2557.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",879,Frederiksberg Allé 102 We are located inside t...,"102,1820"
32,Bastard Café,4.5,6,NaN,--$------,"55.67645,12.574973",698.0,4.5,4.0,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",242,"Rådhusstræde 13, København 1466 Danmark","13,1466"
4,The Pescatarian,5.0,6,597.000,--$$$$------,"55.68799,12.596316",1171.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",201,Amaliegade 49 On the corner of Amaliegade & Es...,"49,1256"
24,Pizzeria Mamemi & Wine Bar,5.0,7,NaN,--$---------,"55.667767,12.548116",2638.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",930,"Mysundegade 28, København 1668 Danmark","28,1668"
16,Geranium,4.5,8,1.489,--$$$$---,"55.7036,12.572",2736.0,4.5,5.0,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",1054,"Per Henrik Lings Alle 4, 8., København Danmark","4,8,"
21,Café Komplet,4.5,9,201.000,--$$-$$$------,"55.684692,12.588044",577.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",350,"Store Kongensgade 65, København 1264 Danmark","65,1264"
83,Bowl Market Copenhagen,4.5,9,80.000,--$$-$$$---,"55.672024,12.555914",1981.0,4.5,5.0,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",113,"Gasvaerksvej 3, København 1656 Danmark","3,1656"
8,Marv & Ben,4.5,10,838.000,--$$$$---,"55.677303,12.576991",540.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",645,"Snaregade 4, København 1205 Danmark","4,1205"
23,Banana Joe,4.5,12,54.000,--$---------,"55.690052,12.559024",1935.0,5.0,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",411,"Elmegade 18, København 2200 Danmark","18,2200"
27,Kokkeriet,4.5,13,972.000,--$$$$---,"55.687626,12.585126",853.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",770,"Kronprinsessegade 64, København 1306 Danmark","64,1306"
15,Husmann's Vinstue,4.5,14,NaN,--$$-$$$---,"55.677773,12.570244",908.0,4.5,4.5,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",255,"Larsbjørnsstræde 2, København 1454 Danmark","2,1454"
10,Restaurant leaven,4.5,16,697.000,--$$$$------,"55.681232,12.584203",140.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",309,"Ny Adelgade 4, København 1104 Danmark","4,1104"
28,Trattoria SUD,4.5,17,999.000,--$$-$$$---------,"55.684696,12.568494",1115.0,4.5,4.5,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",306,Frederiksborggade 27 Close to Nørreport statio...,"27,1360"
1,Basso København,4.5,18,496.000,--$$-$$$---------,"55.68388,12.58657",459.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",345,"Dronningens Tvaergade 22, København 1302 Danmark","22,1302"
11,Restaurant Schonnemann,4.5,19,NaN,--$$-$$$,"55.68277,12.575768",613.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",162,"Haydee Plads 16-28, København 1127 Danmark","1628,1127"
13,BODIL - et spisested,4.5,20,758.000,--$$-$$$------,"55.66416,12.545544",2994.0,4.5,5.0,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",208,"Søndre Boulevard 105, København 1720 Danmark","105,1720"
26,The Red Box,4.5,21,490.000,--$$-$$$---------,"55.683018,12.586555",369.0,4.5,4.5,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",515,"Store Kongensgade 42, København 1264 Danmark","42,1264"
18,Studio - The Standard,4.5,22,NaN,--$$$$---,"55.67783,12.592299",562.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",453,"Havnegade 44, København 1058 Danmark","44,1058"
19,Café Patina,4.5,24,201.000,--$$-$$$---------,"55.66791,12.548128",2629.0,4.5,4.5,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",96,"Mysundegade 26, København 1668 Danmark","26,1668"
5,Goomi,4.5,25,449.000,--$$-$$$------,"55.673717,12.589529",772.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",271,"Strandgade 20, København 1401 Danmark","20,1401"
7,Feed Bistro,4.5,26,NaN,--$$-$$$---,"55.688663,12.559759",1811.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",548,"Faelledvej 5, København 2200 Danmark","5,2200"
25,Trattoria l’Alba,4.5,27,382.000,--$$-$$$---------,"55.678543,12.589863",390.0,4.5,5.0,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",177,"Holbergsgade 17 Ved Nyhavnsbroen, København 10...","17,1057"
0,Restaurant Grønnegade,4.5,28,664.000,--$$$$---,"55.681705,12.583386",199.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",525,"Grønnegade 39, København 1107 Danmark","39,1107"

In [25]:
trip_df['Postal code'] = [str(x).split('København')[1].split('Danmark')[0] for x in trip_df['Address']]
trip_df.head()

,Restaurant,Main rating,Ranking on list,Price range,Price class,Location,Distance from Kgs. Nytorv (m),Good price,Food,Service,Atmosphere,Type of food,Number of reviews,Address,Postal code
22,Grams Lækkerier,5.0,1,101.000,--$---------,"55.671036,12.562724",1673.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",721,"Halmtorvet 1, København 1700 Danmark",1700
2,Enomania,4.5,1,NaN,--$$-$$$------,"55.670773,12.531963",3431.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",245,"Vesterbrogade 187, Frederiksberg, København 18...",1800
3,Restaurant Krebsegaarden,5.0,2,396.000,--$$$$---,"55.67872,12.569877",908.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",1311,"Studiestraede 17, København 1455 Danmark",1455
6,Mielcke & Hurtigkarl,4.5,2,2.615,--$$$$---,"55.67468,12.530938",3390.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",253,"Fr.Berg Runddel 1, Frederiksberg, København 20...",2000
20,Frederiks Have,4.5,3,536.000,--$$$$---,"55.679256,12.524991",3712.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",529,"Smallegade 41, Frederiksberg, København 2000 D...",2000